/* style.css */

body {
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

.wholepage {
  width: 45vw;
  margin: auto;
}

header > *:last-child {
  margin-bottom: 2rem;
}

.header--title,
.header--subtitle,
.main--introduction,
.main--article-title,
.main--implementation--introduction,
.main--functionality--walkthrough,
.footer--copyright {
  text-align: center;
}

header {
  padding: 1rem;
}

header,
.footer--copyright {
  background-color: lightblue;
}

.main--introduction {
  margin-top: 3rem;
}

.main--implementation--introduction {
  margin-bottom: 2rem;
}

.main--article {
  margin-top: 4rem;
}

.main--article-title {
  margin-bottom: 2rem;

  /* create a transparent-to-blue background gradient */
  background:
    linear-gradient(
      to bottom, lightblue 0%,
      lightblue 100%
    );
  /* set background to go from the top left corner
  to the bottom right corner */
  background-position: 0% 100%;
  /* repeat background across the width of the element */
  background-repeat: repeat-x;
  /* limit height of gradient to mimic underline */
  background-size: 0.2em 0.2em;
  transition: background-size .2s;
}

.main--functionality--walkthrough {
  display: flex;
  flex-flow: column wrap;
}

.walkthrough-card {
  margin: 1rem auto;

}

.footer--copyright {
  margin-top: 3rem;
  padding: 2rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .wholepage {
    width: 60vw;
  }
}

@media only screen and (max-width: 1000px) {
  .wholepage {
    width: 70vw;
  }
}

@media only screen and (max-width: 800px) {
  .wholepage {
    width: 80vw;
  }
}